# Harry Potter Limpieza

En este jupyter hare la limpieza del dialogo de la pelicula Harry Potter y la piedra filosofal para poder insetarla posteriorme en la base de datos publications y tener y ejecutar las funciones.

In [1]:
import pandas as pd

## Exploramos dataset

In [2]:
harry_potter = pd.read_csv('./hp_script.csv')

In [3]:
harry_potter.head()

,ID_number,scene,character_name,dialogue
0,1,1,Albus Dumbledore,"I should have known that you would be here, Pr..."
1,2,1,Minerva McGonagall,"Good evening, Professor Dumbledore. Are the ru..."
2,3,1,Albus Dumbledore,"I'm afraid so, Professor. The good, and the bad."
3,4,1,Minerva McGonagall,And the boy?
4,5,1,Albus Dumbledore,Hagrid is bringing him.

In [4]:
harry_potter.dialogue

0      I should have known that you would be here, Pr...
1      Good evening, Professor Dumbledore. Are the ru...
2       I'm afraid so, Professor. The good, and the bad.
3                                           And the boy?
4                                Hagrid is bringing him.
                             ...
788    Go on. On with you, on with you now. Oh, now l...
789    But Hagrid, we're not allowed to do magic away...
790       I do, but your cousin don't, do he? Eh? Hmmhmm
791          Feels strange to be going home, doesn't it?
792                      I'm not going home, not really.
Name: dialogue, Length: 793, dtype: object

In [5]:
harry_potter.drop("ID_number", axis=1, inplace=True)

#### Debido a la cantidad de información solo nos vamos a quedar con las escenas a partir de la 25.

In [6]:
#data.drop(data.loc[data['character_name']!="Albus Dumbledore"].index, inplace=True)

In [7]:
harry_potter.drop(harry_potter.loc[harry_potter["scene"]<=28].index, inplace=True)

In [8]:
harry_potter

,scene,character_name,dialogue
725,29,Harry Potter,Wait a minute.
726,29,Ron Weasley,"You understand right, Harry. Once I make my mo..."
727,29,Harry Potter,"No, Ron, no!"
728,29,Hermione Granger,What is it?
729,29,Harry Potter,He's going to sacrifice himself.
...,...,...,...
788,34,Rubeus Hagrid,"Go on. On with you, on with you now. Oh, now l..."
789,34,Harry Potter,"But Hagrid, we're not allowed to do magic away..."
790,34,Rubeus Hagrid,"I do, but your cousin don't, do he? Eh? Hmmhmm"
791,34,Hermione Granger,"Feels strange to be going home, doesn't it?"
792,34,Harry Potter,"I'm not going home, not really."

#### ¡OJO! Cada escena es considerada un grupo

### Transformaos lo limpiado a json y csv

In [9]:
harry_potter.to_json("./harry_potter_to_json", orient="records")

In [11]:
harry_potter.to_csv('harry_potter')